{% extends 'core/base.html' %} {% block page_content %}

<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="o-hidden border-0 my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="text-center">
            <h1 class="h3 text-gray-800 mb-4">Confirmation!</h1>
          </div>
          <hr />
          <p class="text-center lead">Successfully changed the password, go back to <a href="{% url 'core:home_view' %}">home</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
