{% extends 'core/base.html' %} 
{% load static %}

{% block page_content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Integration Instructions</h1>
</div>

<!-- Divider -->
<hr class="sidebar-divider mb-5" />

<!-- Content Row -->
<div class="row">
  <div class="col-12">
    <h1 class="h4 text-dark">Steps to integrate the push notification system in your website.</h1>
    <p class="h6 mb-4">
      <strong>Note:</strong> Keep in mind that to recieve push notification in your website, you have to add your
      website in this system.
    </p>
    <ul class="card border-left-success shadow px-0 my-2">
      <li class="list-group-item">
        <p>Add these script tags at the end of your website's body tag.</p>
        <div class="input-group mb-2 mr-sm-2">
          <input type="text" readonly class="shadow-none form-control" id="scriptTag1" value="<script src='https://www.gstatic.com/firebasejs/8.4.2/firebase-app.js'></script>" />
          <div class="input-group-append">
            <a data-clipboard-target="#scriptTag1" tabindex="0" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="Coppied to clipboard." class="input-group-text text-decoration-none btn" style="cursor: pointer">
              <i class="fa fa-code"></i>
            </a>
          </div>
        </div>
        <div class="input-group mb-2 mr-sm-2">
          <input type="text" readonly class="shadow-none shadow-none form-control" id="scriptTag2" value="<script src='https://www.gstatic.com/firebasejs/8.4.2/firebase-messaging.js'></script>" />
          <div class="input-group-append">
            <a data-clipboard-target="#scriptTag2" tabindex="0" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="Coppied to clipboard." class="input-group-text text-decoration-none btn" style="cursor: pointer">
              <i class="fa fa-code"></i>
            </a>
          </div>
        </div>
        <div class="input-group mb-2 mr-sm-2">
          <input type="text" readonly class="shadow-none form-control" id="scriptTag3" value="<script src='{{ request.scheme }}://{{ request.get_host }}{% static 'fcm/fcmgen.js' %}'></script>" />
          <div class="input-group-append">
            <a data-clipboard-target="#scriptTag3" tabindex="0" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="Coppied to clipboard." class="input-group-text text-decoration-none btn" style="cursor: pointer">
              <i class="fa fa-code"></i>
            </a>
          </div>
        </div>
      </li>
    </ul>

    <ul class="card border-left-success shadow px-0 my-2">
      <li class="list-group-item">
        <p>Download this file and add this at the root location of your website.<br /> i.e.- http://example.com/firebase-messaging-sw.js</p>
        <div class="input-group mb-2 mr-sm-2">
          <input type="text" readonly class="shadow-none form-control" id="scriptTag4" value="{{ request.scheme }}://{{ request.get_host }}{% static 'fcm/firebase-messaging-sw.js' %}" />
          <div class="input-group-append">
            <a download  href="{{ request.scheme }}://{{ request.get_host }}{% static 'fcm/firebase-messaging-sw.js' %}"  class="input-group-text text-decoration-none btn" style="cursor: pointer">
              <i class="fa fa-download"></i>
            </a>
          </div>
        </div>
      </li>
    </ul>

    <div class="card border-left-success shadow py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="h5 mb-0 text-gray-800">Now you are good to go, you are ready to send and recieve push notification.</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script src='https://www.gstatic.com/firebasejs/8.4.2/firebase-app.js'></script>
{% endblock page_content %} 

{% block extra_js %} 
{{ block.super }}
<script 
  src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js" 
  integrity="sha512-sIqUEnRn31BgngPmHt2JenzleDDsXwYO+iyvQ46Mw6RL+udAUZj2n/u/PGY80NxRxynO7R9xIGx5LEzw4INWJQ==" 
  crossorigin="anonymous"
></script>

<script>
$(function () {
  $('[data-toggle="popover"]').popover({
    delay: { "hide": 3000 }
  })
})

var clipboard = new ClipboardJS('.btn');

</script>
{% endblock extra_js %}
