{% extends 'core/base.html' %} {% load crispy_forms_tags %} {% block page_content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">{{ page_title }}</h1>
</div>

<!-- Divider -->
<hr class="sidebar-divider mb-5" />

<!-- Content Row -->
<div class="row">
  <div class="col-12 col-lg-6 offset-lg-3">
    <div class="card shadow mb-4 border-bottom-info">
      <div class="card-header bg-info py-3 d-flex justify-content-between">
        <h6 class="m-0 font-weight-bold text-light">Notification</h6>
        <h6 class="m-0 font-weight-bold text-warning">{{ object.status }}</h6>
      </div>
      {% if object.banner %}
      <img src="{{ object.banner.url }}" class="card-img-top" alt="Banner Image" />
      {% endif %}
      <div class="card-body">
        <h3>
          {% if object.icon %}
          <img src="{{ object.icon.url }}" height="30" class="img-responsive mb-2" />
          {% endif %} {{ object.title }}
        </h3>
        <p><strong>Total/Sent:&nbsp;</strong>{{ object.total_sent_count }}/{{ object.success_count }}</p>
        <p>{{ object.body }}</p>
        {% if object.launch_url %}
        <a href="{{ object.launch_url }}"><p class="text-muted">{{ object.launch_url }}</p></a>
        {% endif %}
        <p class="text-info mb-0">{{ object.website.domain }}</p>
      </div>
    </div>
  </div>
</div>

{% endblock page_content %}
