{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block page_content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{ page_title }}</h1>
</div>

<!-- Divider -->
<hr class="sidebar-divider mb-5" />

<!-- Content Row -->
<div class="row">
    <div class="col-12">
        {% for website_obj in object_list %}
            <p>{{ website_obj }}</p><br>
        {% endfor %}
    </div>
</div>

{% endblock page_content %}