{% extends 'core/base.html' %} {% load crispy_forms_tags %} {% block page_content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">{{ page_title }}</h1>
</div>

<!-- Divider -->
<hr class="sidebar-divider mb-5" />

<!-- Content Row -->
<div class="row">
  {% for website_obj in object_list %}
  <div class="col-12 col-md-6 col-xl-4">
    <div class="card shadow mb-4 border-bottom-success">
      <div class="card-header bg-success py-3 d-flex flex-row align-items-center justify-content-end">
        <div class="dropdown no-arrow">
          <a
            class="dropdown-toggle"
            href="#"
            role="button"
            id="dropdownMenuLink{{ website_obj.pk }}"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
          </a>
          <div
            class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
            aria-labelledby="dropdownMenuLink{{ website_obj.pk }}"
            style=""
          >
            <div class="dropdown-header">Actions:</div>
            <a class="dropdown-item" href="{% url 'websites:website_edit_view' website_obj.slug %}">Edit</a>
            <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#websiteDeleteModal{{ website_obj.pk }}">Delete</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:void(0)">Help ?</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <h4 class="website__title">{{ website_obj.title }}</h4>
        <p class="website__domain">{{ website_obj.domain }}</p>
        <p class="website__subscribers__count">{{ website_obj.subscribers_count }} Subscribers</p>
        <p class="website__subscribers__count">{{ website_obj.updated_on }}</p>
      </div>
    </div>
  </div>
  {% include 'includes/modals/website_delete_modal.html' %} 
  {% endfor %}
</div>

{% endblock page_content %}
