<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'core:home_view' %}">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">APlusTopper</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Home -->
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'core:home_view' %}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Home</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Managment</div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#websiteManagementCollapse"
      aria-expanded="true"
      aria-controls="websiteManagementCollapse"
    >
      <i class="fab fa-fw fa-safari"></i>
      <span>Websites</span>
    </a>
    <div id="websiteManagementCollapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Manage:</h6>
        {% comment %} <a class="collapse-item" href="{% url 'websites:website_add_view' %}">Add Website</a> {% endcomment %}
        <a class="collapse-item" href="{% url 'websites:websites_list_view' %}">Show All Website</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#notificationManagementCollapse"
      aria-expanded="true"
      aria-controls="notificationManagementCollapse"
    >
      <i class="fas fa-fw fa-bell"></i>
      <span>Notification History</span>
    </a>
    <div
      id="notificationManagementCollapse"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Manage:</h6>
        <a class="collapse-item" href="{% url 'core:notification_add_view' %}">Create Notification</a>
        <a class="collapse-item" href="{% url 'core:notifications_list_view' %}">Show All Notification</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Help</div>

  <!-- Nav Item - Tables -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'core:instructions_view' %}">
      <i class="fas fa-fw fa-table"></i>
      <span>Instructions</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

  <!-- Sidebar Message -->
  <div class="sidebar-card">
    <p class="text-center mb-2">Welcome</p>
  </div>
</ul>
<!-- End of Sidebar -->
